[submodule "ByteCodeCore"]
	path = ByteCodeCore
	url = https://github.com/Obicere/ByteCodeCore
[submodule "ByteCodeViewer"]
	path = ByteCodeViewer
	url = https://github.com/Obicere/ByteCodeViewer
[submodule "ByteCodeSpecification"]
	path = ByteCodeSpecification
	url = https://github.com/Obicere/ByteCodeSpecification
